<%= form_for ([@article, @article.comments.build]) do |f| %>
<div class="form-group">
<p>
	<%= f.label :commenter %>
	<br>
	<%= f.text_field :commenter, :size => "151"%>
</p>
</div>
<div class="form-group">
<p>
	<%= f.label :body %>
	<br>
	<%= f.text_area :body , cols: "150", rows:"5"%>
</p>
</div>
<p>
	<%= f.submit 'Create comment', :class => 'btn btn-info' %>
</p>
<% end %>