<div class="container">
	<div class="row">
		<div class="well">

			<h3>
				<%= @article.title %>
			</h3>
			<p>
				<%= @article.body %>
			</p>


			<% if !@article.comments.empty?%>
			<div class="well">
				<h4>
					Comments
				</h4>
				<%= render @article.comments %>
			</div>
			<%end%>
		</div>
		<div class="well">
			<p class="lead">
				<button type="button" class="btn btn-info" data-target="#form" data-toggle="collapse">Add Comment</button>
			</p>
			<div id="form" class="collapse">
			<%= render 'comments/form'%>
			</div>
		</div>

		<%= link_to 'Edit', edit_article_path(@article), :class => 'btn btn-info' %> |
		<%= link_to 'Back', articles_path, :class => 'btn btn-info' %>
	</div>
</div>
